* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* SignUp ############################################################################################################################################# */

.SignUp_wrap {
    width: 500px;
    margin: 100px auto;
}

.SignUp_title {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.SignUp_title strong {
    width: 210px;
    height: 50px;
    font-size: 40px;
}

.SignUp_form {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.SignUp_form .UserNameForm,
.SignUp_form .NickNameForm,
.SignUp_form .UserIDForm,
.SignUp_form .UserPasswordForm,
.SignUp_form .UserPasswordCheckForm,
.SignUp_form .UserEmailForm {
    padding: 15px;
}


.SignUp_form .UserNameForm dl,
.SignUp_form .NickNameForm dl,
.SignUp_form .UserIDForm dl,
.SignUp_form .UserPasswordForm dl,
.SignUp_form .UserPasswordCheckForm dl,
.SignUp_form .UserEmailForm dl {
    font-size: 0;
}

.SignUp_form .UserNameForm dt,
.SignUp_form .UserNameForm dd,
.SignUp_form .NickNameForm dt,
.SignUp_form .NickNameForm dd,
.SignUp_form .UserIDForm dt,
.SignUp_form .UserIDForm dd,
.SignUp_form .UserPasswordForm dt,
.SignUp_form .UserPasswordForm dd,
.SignUp_form .UserPasswordCheckForm dt,
.SignUp_form .UserPasswordCheckForm dd,
.SignUp_form .UserEmailForm dt,
.SignUp_form .UserEmailForm dd  {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.SignUp_form .UserNameForm dt,
.SignUp_form .NickNameForm dt,
.SignUp_form .UserIDForm dt,
.SignUp_form .UserPasswordForm dt,
.SignUp_form .UserPasswordCheckForm dt,
.SignUp_form .UserEmailForm dt {
    width: 100px;
}

.SignUp_form .UserNameForm dd,
.SignUp_form .NickNameForm dd,
.SignUp_form .UserIDForm dd,
.SignUp_form .UserPasswordForm dd,
.SignUp_form .UserPasswordCheckForm dd,
.SignUp_form .UserEmailForm dd {
    width: calc(100% - 100px);
}

.SignUp_form .UserNameForm input[type="text"],
.SignUp_form .NickNameForm input[type="text"],
.SignUp_form .UserIDForm input[type="text"],
.SignUp_form .UserPasswordForm input[type="password"],
.SignUp_form .UserPasswordCheckForm input[type="password"],
.SignUp_form .UserEmailForm input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
}

.SingUpbt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.SingUpbt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.SingUpbt_wrap a:first-child {
    margin-left: 0;
}

.SingUpbt_wrap a.SingUpbt {
    background: #000;
    color: #fff;
}

/* login ############################################################################################################################################# */

.login_wrap {
    width: 500px;
    margin: 100px auto;
}

.login_title {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.login_title_text strong {
    width: 210px;
    height: 50px;
    font-size: 40px;
}

.SignUp {
    width: 60px;
    height: 50px;
    position: relative;
}

.SignUp_text {
    font-size: 15px;
    position: absolute;
    top: 50%;
}

.login_form {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.login_form .UserIDForm,
.login_form .UserPasswordForm {
    padding: 15px;
}


.login_form .UserIDForm dl,
.login_form .UserPasswordForm dl {
    font-size: 0;
}

.login_form .UserIDForm dt,
.login_form .UserIDForm dd,
.login_form .UserPasswordForm dt,
.login_form .UserPasswordForm dd  {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.login_form .UserIDForm dt,
.login_form .UserPasswordForm dt {
    width: 100px;
}

.login_form .UserIDForm dd,
.login_form .UserPasswordForm dd {
    width: calc(100% - 100px);
}

.login_form .UserIDForm input[type="text"],
.login_form .UserPasswordForm input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
}

.loginbt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.loginbt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.loginbt_wrap a:first-child {
    margin-left: 0;
}

.loginbt_wrap a.loginbt {
    background: #000;
    color: #fff;
}

/* post ############################################################################################################################################# */

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.board_title_text strong {
    width: 210px;
    height: 50px;
    font-size: 40px;
}

.login {
    width: 60px;
    height: 50px;
    position: relative;
}

.login_text {
    font-size: 15px;
    position: absolute;
    top: 50%;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 20%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_view .comment_input textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
}

.board_view .comment {
    padding: 15px;
    line-height: 160%;
    font-size: 1.4rem;
    border-top: 1px dashed #999;
}

.comment_bt {
    margin-top: 10px;
    font-size: 0;
}

.comment_bt a {
    display: inline-block;
    width: 30px;
    height: 23px;
    margin-left: 5px;
    text-align:center;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.1rem;
}

.comment_bt a:first-child {
    margin-left: 0;
}

.comment_bt a.on {
    background: #000;
    color: #fff;
}

.board_write {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.board_write .title {
    padding: 15px;
}


.board_write .title dl {
    font-size: 0;
}


.board_write .title dt,
.board_write .title dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"]{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 15px;
}

