<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유 게시판</title>
    <link rel="stylesheet" href="static/css/css.css">
	<script src="/static/libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <div class="board_title_text">
                <strong>자유 게시판</strong>
            </div>
            <div class="login">
            </div>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                </div>
                <div class="cont">
                </div>
            </div>
            <div class="bt_wrap">
                <a onclick="UpdatePost('UserID')" class="on">수정</a>
                <a onclick="DeletePost()">삭제</a>
                <a href="/view">취소</a>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/static/js/main.js"></script>
<script src="/static/js/paging.js"></script>
<script src="/static/js/address.js"></script>
<script src="/static/js/apicall.js"></script>
<script>
    BeforePost();
</script>