<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유 게시판</title>
    <link rel="stylesheet" href="static/css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <div class="board_title_text">
                <strong>자유 게시판</strong>
            </div>
            <div class="login">
                <a href="/login" class="login_text">로그인</a>
            </div>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" value="글 제목이 들어갑니다"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력">
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                        글 내용이 들어갑니다.
                    </textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="/view" class="on">수정</a>
                <a href="/view">취소</a>
            </div>
        </div>
    </div>
</body>
</html>