<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SongBoard</title>
    <link rel="stylesheet" href="/static/css/css.css">
</head>
<body>
    <div class="SignUp_wrap">
        <div class="SignUp_title">
                <strong>회원가입</strong>
        </div>
        <div class="SignUp_form_wrap">
            <div class="SignUp_form">
                <div class="UserNameForm">
                    <dl>
                        <dt>이름</dt>
                        <dd><input type="text" id="UserName"></dd>
                    </dl>
                </div>
                <div class="NickNameForm">
                    <dl>
                        <dt>닉네임</dt>
                        <dd><input type="text" id="NickName" placeholder="2 ~ 20 글자"></dd>
                    </dl>
                </div>
                <div class="UserIDForm">
                    <dl>
                        <dt>아이디</dt>
                        <dd><input type="text" id="UserID" placeholder="2 ~ 20 글자"></dd>
                    </dl>
                </div>
                <div class="UserPasswordForm">
                    <dl>
                        <dt>비밀번호</dt>
                        <dd><input type="text" id="UserPassword" placeholder="2 ~ 20 글자"></dd>
                    </dl>
                </div>
                <div class="UserPasswordCheckForm">
                    <dl>
                        <dt>비밀번호 확인</dt>
                        <dd><input type="text" id="UserPasswordCheckword"></dd>
                    </dl>
                </div>
                <div class="UserEmailForm">
                    <dl>
                        <dt>이메일</dt>
                        <dd><input type="text" id="UserEmail"></dd>
                    </dl>
                </div>
            </div>
            <div class="SingUpbt_wrap">
                <a href="/login" class="SingUpbt">로그인</a>
            </div>
        </div>
    </div>
</body>
</html> 