<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유 게시판</title>
    <link rel="stylesheet" href="/static/css/css.css">
	<script src="/static/libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <div class="board_title_text">
                <strong>자유 게시판</strong>
            </div>
            <div class="login">
            </div>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                </div>
                <div class="info">
                </div>
                <div class="cont">
                </div>
                <div class="comment_input">
                    <textarea id="PostComment" placeholder="댓글을 입력하세요."></textarea>
                </div>
                <div class="comment_box">
                    <div class="comment">
                        <div class="comment_NickName">
                            짱
                        </div>
                        <div class="comment_text">
                            이
                        </div>
                        <div class="comment_bt">
                            <a href="/" class="on">답글</a> 
                            <a href="/edit">수정</a>
                            <a href="/edit">삭제</a>
                        </div>
                    </div>
                    <div class="comment">
                        이
                    </div>
                    <div class="comment">
                        다
                    </div>
                </div>
            </div>
            <div class="bt_wrap">
            </div>
        </div>
    </div>
</body>
</html>
<script src="/static/js/main.js"></script>
<script src="/static/js/paging.js"></script>
<script src="/static/js/address.js"></script>
<script src="/static/js/apicall.js"></script>
<script>
    updatebt(ReadPost());
</script>